<p>Primary font: "Open Sans", "Helvetica", Arial, sans-serif;</p>
<p><em>Primary font italic: "Open Sans", "Helvetica", Arial, sans-serif;</em></p>
<p><strong>Primary font bold: "Open Sans", "Helvetica", Arial, sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Roboto Slab", Georgia, serif;</p>
<p class="font-secondary"><em>Secondary font italic: "Roboto Slab", Georgia, serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: "Roboto Slab", Georgia, serif;</strong></p>
